.LockSetter {
    display: inline-block;
}

.LockSetterImage {
    width:17px;
    height:17px;
    position:relative;
    top:6px;
}

.LockSetterIsLockedFalse {
    border:1px solid green;
}

.LockSetterIsLockedTrue {
    border:1px solid red;
}